* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.page {
  background-color: white;
  padding: 0;
}

.page h3 {
  font-size: 1.1rem;
  padding: 10px;
}

.staff {
  background-color: rgb(186, 186, 221);
  margin: 20px;
  padding: 10px;
  text-align: left;
  width: 250px;
}

.staff h2 {
  font-size: 20px;
  margin: 5px 0;
}

.staff p {
  margin: 5px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(70, 46, 46);
  color: #fff;
  padding: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

.footer a:hover {
  color: #dad2b2;
  text-decoration: none;
}

.footer h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer div {
  border-right: 1px solid #555;
  padding: 0 20px;
}

.footer div:last-child {
  border-right: none;
}

.sitemap {
  list-style: none;
  padding: 0;
}

.sitemap li {
  margin: 5px 0;
}
